appdirs==1.4.4
asgiref==3.2.3
astroid==2.3.3
blis==0.7.4
catalogue==2.0.1
certifi==2019.9.11
chardet==3.0.4
click==7.1.2
colorama==0.4.3
comtypes==1.1.8
contextualSpellCheck==0.4.0
cycler==0.10.0
cymem==2.0.5
distlib==0.3.1
distro==1.4.0
Django==3.0
django-cors-headers==3.2.0
djangorestframework==3.10.3
editdistance==0.5.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
espeakng==1.0.2
filelock==3.0.12
gTTS==2.2.2
idna==2.10
isort==4.3.21
Jinja2==2.11.3
joblib==1.0.0
kiwisolver==1.3.1
lazy-object-proxy==1.4.3
ldap3==2.9
MarkupSafe==1.1.1
matplotlib==3.3.4
mccabe==0.6.1
murmurhash==1.0.5
mysql-connector==2.2.9
nltk==3.5
numpy==1.17.4
opencv-python==4.5.1.48
packaging==20.9
pandas==0.25.3
pathy==0.4.0
Pillow==8.0.1
preshed==3.0.5
py-espeak-ng==0.1.8
pyasn1==0.4.8
pydantic==1.7.3
pydirectory==0.1.15
pylint==2.4.4
pyparsing==2.4.7
pypiwin32==223
pytesseract==0.3.6
python-dateutil==2.8.1
python-engineio==4.0.0
pyttsx==1.1
pyttsx3==2.90
pytz==2019.3
pywin32==300
regex==2020.11.13
requests==2.24.0
sacremoses==0.0.43
scikit-learn==0.24.1
scipy==1.6.1
six==1.13.0
sklearn==0.0
smart-open==3.0.0
spacy==3.0.5
spacy-legacy==3.0.1
sqlparse==0.3.0
srsly==2.4.0
tabula-py==1.4.2
textblob==0.15.3
thinc==8.0.2
threadpoolctl==2.1.0
tokenizers==0.10.1
tqdm==4.55.1
transformers==4.4.2
typed-ast==1.4.0
typer==0.3.2
urllib3==1.25.10
virtualenv==20.4.2
wasabi==0.8.2
Wave==0.0.2
wrapt==1.11.2
